**/.vs/**
**/.vscode/
**/bin/**
**/obj/**
**/build/**

/PixtroEditor/Assets/dll/**
/PixtroEditor/packages/**

**/Release/**
**/Debug/**
**/ipch/**

**/build/source/**

*.gz
*.zip
*.elf
*.gba
*.suo
*.sln
*.exe
*.pdb
*.wav
*.mod
*.pal
*.ilk
*.il
*.tlog
*.obj
*.o
*.d